<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>Forte</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <%= render "shared/header" %> 
        <h1>top page</h1>
        <div class="all-contents">
            <nav>left</nav>
            <main>
            <%= link_to "＼！！質問する！！／", new_room_path %>
            <% @rooms.each do |room| %>
                <div class="room">
                    <div class="room-name">
                        <a href="#"><%= room.question_title%></a>
                    </div>
                </div>
            <% end %>
            </main>
            <aside>right</aside>
        </div>

        <%= render "shared/footer" %> 
    </body>
</html>