<% if user_signed_in? %>
<% if room.liked_by?(current_user) %>
   <%= link_to(room_add_path(room), method: :delete, remote: true, id: :"like-button-#{room.id}") do %>
       <div class="liked-btn"><%= "❤️" %></div>
   <% end %>
<% else %>
   <%= link_to(room_add_path(room) , method: :post, remote: true, id: :"like-button-#{room.id}") do %>
       <div class="like-yet-btn"><%= "♡" %></div>
   <% end %>
<% end %>
<% end %>