<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">
  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">
    <% @user.followers.each do |follower| %>
      <p><%= follower.nickname %></p>
    <% end %>

  </div>
</div>