<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">

  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">
    <% @user.followings.each do |following| %>
      <p><%= following.nickname %></p>
    <% end %>

  </div>
</div>