<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">

  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">
    <div class="content">
      <div class="index">
        <div class="index__game_tag">
          <span class="gift-action-title"><%= "フォロワー" %></span>
        </div>
        <div class="index__triangle"></div>
      </div>
      <div class="room-name">
        <div class="question-space">
          <% @user.followings.each do |following| %>
            <%= render partial: "related_to_follow", locals: { user: following } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>