<%= render partial: "rooms/navigation_menu" %>
<div class="main__user-profile">

  <%= render partial: "user-profile__left", locals: { user: @user } %>

  <div class="user-question-contents">
    <div class="gift-action">
        <p class="gift-action-title">自分がしたギフト</p>
        <% @giftings.each do |gift| %>
          <div class="gifts">
            <p class="gift"><%= "#{gift.user.nickname}に#{gift.price}円をギフトした！" %></p>
          </div>
        <% end %>
      </div>
      <div class="gift-action">
        <p class="gift-action-title">自分に送られたギフト</p>
        <% @receivings.each do |gift| %> 
          <div class="gifts">
            <p class="gift"><%= "#{gift.giver.nickname}から#{gift.price}円をギフトされた！感謝します！" %></p>
          </div>
        <% end %> 
      </div> 

  </div>
</div>