<footer>
  <div class="footer-left">
    <div class="footer-title">Forte</div>
    <div class="footer-comment">You don't know your best yet.</div>
  </div>
  <div class="footer-right">
    <div class="copyright">© 2020 Toshiro</div>
  </div>
</footer>