<div class="index">
  <div class="index-tag">
    <% tag = question.game_tags[0] %>
    <% if tag %>
      <%= link_to tag_search_game_tag_path(tag.id), class: 'game_tag__registration' do %>
        <%= tag.game_title %>
      <% end %>
    <% end %>
  </div>
  <div class="index-decoration"></div>
</div>