<div class="index">
  <div class="index__game_tag">
    <% unless question.game_tags[0] == nil %>
      <%= question.game_tags[0].game_title %>
    <% end %>
  </div>
  <div class="index__triangle"></div>
</div>