<div class="index">
  <div class="index-tag">
    <% unless question.game_tags[0] == nil %>
      <%= question.game_tags[0].game_title %>
    <% end %>
  </div>
  <div class="index-decoration"></div>
</div>