<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Trace</title>
  </head>

  <body>
    <%= render partial: "navigation_menu" %>
    <div class="all-contents">
      <nav>left</nav>
      <main>
        <% if user_signed_in? %>
          <p>--------------あなたに関連する質問です！--------------</p>
          <div id="list">
          </div>
          <% @questions.each do |question| %>
            <%= render partial: "questions_related_to_current_user", locals: { question: question } %>
          <% end %>
          <p>-----------------------------------------------------------</p>
        <% else %>
            <%= link_to "＼！！質問する！！／", new_user_session_path %>
        <% end %>
            
        <p>↓↓新着の質問↓↓</p>
        <% @another_questions.each do |question| %>
          <%= render partial: "another_questions", locals: { question: question } %>
        <% end %>
      </main>
    </div>
  </body>
</html>
