<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Forte</title>
  </head>

  <body>
    <%= render partial: "rooms/navigation_menu" %>
    <main>
      <% @questions.each do |question| %>
        <%= render partial: "rooms/questions", locals: { question: question } %>
      <% end %>
    </main>
  </body>
</html>
