body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}


.all-contents {
  display: flex;
  flex: 1;
}
main {
  flex: 1;
}

nav {
  width: 150px;
}

aside {
  width: 200px;
}

footer {
  height: 200px;
}

@media screen and (max-width: 900px) {
  body,
  nav,
  aside {
    width: 100%;
  }
  .all-contents{
    flex-direction: column;
  }
  main {
    order: -1;
  }
}