h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: rgb(154, 154, 154);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

p {
  color: rgb(154, 154, 154);
  font-family: Arial, Helvetica, sans-serif;
}

.chat-room-form {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 66%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: rgb(154, 154, 154);
  background-color: rgb(74, 228, 66);
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  margin: auto;
  /* width: 100%; */
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}

.room-name {
  margin: 2px;
  background-color: #ffffff;
  /* border: 1px solid rgb(144, 237, 14); */
  /* border-radius: 5%; */
}

.like {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #38aef0;
  border-radius: 50%;
}


.question-title {
  color: #f09b08;
}

.question-contents {
  margin-left: 18px; 
}

.question-lists {
  display: flex;
}

.question-user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50% ; /*画像を丸くする！！*/
}

.answer-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%; /*画像を丸くする！！*/
}


.more {
  cursor: pointer;
}

.more:hover ul.more_list {
  display: block;
  width: 110%;
}

.more ul.more_list {
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.more ul.more_list li {
  border-bottom: 1px solid #ddd;
}

.more ul.more_list {
  border-bottom: 0;
}

.more ul.more_list li {
  background-color: #57C3E9;
  color: rgb(154, 154, 154);
} 


html {
  background-color: rgb(244, 244, 244);
}
body {
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #666;
  
   /* margin: 0; ブラウザのcssの余白を消す */
  /* display: flex;  */
}

main {
  flex: 1;
  min-height: 100vh;
}

.aside {
  flex: 1;
  /* width: 25%;
  min-width: 250px; */
  /* display: flex; */
  /* flex-direction: column; */
  color: rgb(154, 154, 154);

}

.side-footer {
  height: 300px;
  margin-top: auto;
  display: none;
}
footer {
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    height: 1500px;
    flex-direction: column;
  }
  main {
    width: 100%;
    flex: 1;
    margin-bottom: 200px;
  }
  footer {
    display: block;
    bottom: 24px;
  }
  .side-footer {
    display: none;
  }
  aside {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  ul {
    display: flex;
    
  }
  .bottom-nav {
    /* flex: 1; */
    background-color: azure;
    font-size: 20px;
    height: 50px;
  }
}

.nav-lists {
  display: flex;
}

header {
  height: 55px;
  /* background-color: rgb(206, 43, 214); */
  background-color: rgb(220, 66, 228);
}

