ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.question-form {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.question-form__label {
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}

.question-form__input {
  float: left;
  width: 66%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.question-btn {
  display: inline-block;
  padding: 12px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(74, 228, 66);
  border: 0;
}

.question-form__field {
  margin-top: 30px;
}

.question-form__field:after {
  content: "";
  clear: both;
  display: block;
}

select {
  width: 500px;
  height: 50px;
}

.room-name {
  margin: 2px;
  background-color: #ffffff;
}

.like {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #38aef0;
  border-radius: 50%;
}

.question-title {
  color: #f09b08;
}

.question-contents {
  margin-left: 18px; 
}

.question-lists {
  display: flex;
}

.question-user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50% ; /*画像を丸くする！！*/
}

.answer-user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%; /*画像を丸くする！！*/
}

html {
  background-color: rgb(244, 244, 244);
}

body {
  letter-spacing: 0.1em;
  font-size: 16px;
  color: #666;
}

main {
  flex: 1;
  min-height: 100vh;
}

.nav-lists {
  display: flex;
}

header {
  height: 55px;
  /* background-color: rgb(206, 43, 214); */
  background-color: rgb(220, 66, 228);
}




@media screen and (max-width: 1000px) {
  body {
    height: 1500px;
    flex-direction: column;
  }
  main {
    width: 100%;
    flex: 1;
    margin-bottom: 200px;
  }
  footer {
    display: block;
    bottom: 24px;
  }
  .side-footer {
    display: none;
  }
  aside {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  ul {
    display: flex;
    
  }
  .bottom-nav {
    /* flex: 1; */
    background-color: azure;
    font-size: 20px;
    height: 50px;
  }
}


