.gift-action {
  background-color: #f5ffdd;
  border: 1px solid rgb(144, 237, 14);
}

.gift-action-title {
  margin: 5px;
  font-size: 20px;
  color: rgb(101, 101, 101);
}

.gifts {
  margin: 5px 18px;
}

.gift {
  color: rgb(101, 101, 101);
}